## Memanggil Library Pandas

In [1]:
import pandas as pd
import numpy as np

In [5]:
import pandas as pd
from IPython.display import display

number_list = pd.Series([1, 2, 3, 4, 5, 6])
print("Series : ")
print(number_list)
matrix = [[1, 2, 3],
          ["a","b","c"],
          [3, 4, 5],
          ["d", 4, 6]]
matrix_list = pd.DataFrame(matrix)
print("Dataframe")
display(matrix_list)

Series :
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Dataframe

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [7]:
import pandas as pd
from IPython.display import display

number_list = pd.Series([1, 2, 3, 4, 5, 6])
print("Series : ")
print(number_list)
matrix = [[1, 2, 3],
          ["a","b","c"],
          [3, 4, 5],
          ["d", 4, 6]]
matrix_list = pd.DataFrame({
                            "kolom1" : matrix[0],
                            "kolom2" : matrix[1],
                            "kolom3" : matrix[2],
                            "kolom4" : matrix[3]
                          })
print("Dataframe")
display(matrix_list)

Series :
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Dataframe

   kolom1 kolom2  kolom3 kolom4
0       1      a       3      d
1       2      b       4      4
2       3      c       5      6

In [20]:
import pandas as pd
from IPython.display import display

number_list = pd.Series([1, 2, 3, 4, 5, 6])
matrix = [[1, 2, 3],
          ["a","b","c"],
          [3, 4, 5],
          ["d", 4, 6]]
matrix_list = pd.DataFrame({
                            "kolom1" : matrix[0],
                            "kolom2" : matrix[1],
                            "kolom3" : matrix[2],
                            "kolom4" : matrix[3]
                          })
print("Shape of Data Series = %d Baris"%number_list.shape)
print("Shape of DataFrame = %d Baris & %d Kolom"%matrix_list.shape)
print("Tipe Data Series :\n{} ".format(number_list.dtypes))
print("Tipe Data Series :\n{} ".format(matrix_list.dtypes))
print("Tipe Data Series :\n{} ".format(number_list.astype(float)))
print("Tipe Data Series :\n{} ".format(matrix_list.astype("object")))
print("Tipe Data Series :\n{} ".format(number_list.dtypes))
print("Tipe Data Series :\n{} ".format(matrix_list.dtypes))

Shape of Data Series = 6 Baris
Shape of DataFrame = 3 Baris & 4 Kolom
Tipe Data Series :
int64
Tipe Data Series :
kolom1     int64
kolom2    object
kolom3     int64
kolom4    object
dtype: object
Tipe Data Series :
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64
Tipe Data Series :
  kolom1 kolom2 kolom3 kolom4
0      1      a      3      d
1      2      b      4      4
2      3      c      5      6
Tipe Data Series :
int64
Tipe Data Series :
kolom1     int64
kolom2    object
kolom3     int64
kolom4    object
dtype: object

In [22]:
matrix = [[1,2,3],
          ['a','b','c'],
          [3,4,5],
          ['d',4,6]]
matrix_list = pd.DataFrame(matrix)
display(matrix_list)

print(matrix_list.iloc[0:2,2].to_list())

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

[3, 'c']