In [1]:
import json
import requests as req
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
def get_json(api_url):
    response = req.get(api_url)
    if response.status_code == 200:
        return json.loads(response.content.decode("utf-8"))
    else:
        return None

In [3]:
# df_covid_worlwide = pd.read_json("https://dqlab.id/data/covid19_worldwide_2020.json")
df_covid_worlwide = pd.read_csv(r"D:\Usep Syaikal Arifin\Computer Programming\Application File\Application File PT Bukit Makmur Mandiri Utama (BUMA)\Kelas Penerapan di Industri\Data Science Project - Analisis Data COVID19 di Dunia & ASEAN\File Dokumentasi\FIle CSV\covid19_worldwide_2020.csv")
display(df_covid_worlwide.info())
display(df_covid_worlwide.head())
# display(df_covid_worlwide.loc[df_covid_worlwide["date"] >= "2020-08-07"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61900 entries, 0 to 61899
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   61900 non-null  object
 1   daily_confirmed_cases  61900 non-null  int64
 2   daily_deaths           61900 non-null  int64
 3   confirmed_cases        61900 non-null  int64
 4   deaths                 61900 non-null  int64
 5   geo_id                 61625 non-null  object
dtypes: int64(4), object(2)
memory usage: 2.8+ MB

None

,date,daily_confirmed_cases,daily_deaths,confirmed_cases,deaths,geo_id
0,2020-03-20,1,0,1,0,TD
1,2020-03-21,0,0,1,0,TD
2,2020-03-22,1,0,2,0,TD
3,2020-03-23,0,0,2,0,TD
4,2020-03-24,0,0,2,0,TD

In [6]:
df_covid_worlwide = pd.read_csv(r"D:\Usep Syaikal Arifin\Computer Programming\Application File\Application File PT Bukit Makmur Mandiri Utama (BUMA)\Kelas Penerapan di Industri\Data Science Project - Analisis Data COVID19 di Dunia & ASEAN\File Dokumentasi\FIle CSV\covid19_worldwide_2020.csv")

df_covid_worlwide = df_covid_worlwide.set_index("date").sort_index()
display(df_covid_worlwide.head())

print("Jumlah missing value tiap kolom : ")
display(df_covid_worlwide.isnull().sum())

df_covid_worlwide.dropna(inplace=True)

print("Jumlan missing value tiap kolom setelah didrop")
display(df_covid_worlwide.isnull().sum())

,daily_confirmed_cases,daily_deaths,confirmed_cases,deaths,geo_id
date,,,,,
2019-12-31,0,0,0,0,IN
2019-12-31,0,0,0,0,IR
2019-12-31,0,0,0,0,PK
2019-12-31,0,0,0,0,AM
2019-12-31,27,0,27,0,CN

Jumlah missing value tiap kolom :

daily_confirmed_cases      0
daily_deaths               0
confirmed_cases            0
deaths                     0
geo_id                   275
dtype: int64

Jumlan missing value tiap kolom setelah didrop

daily_confirmed_cases    0
daily_deaths             0
confirmed_cases          0
deaths                   0
geo_id                   0
dtype: int64

## Membaca Data Countries

In [8]:
countries_url = "https://dqlab.id/data/country_details.json"
df_countries = pd.read_json(countries_url)
# df_countries.to_csv(r"D:\Usep Syaikal Arifin\Computer Programming\Application File\Application File PT Bukit Makmur Mandiri Utama (BUMA)\Kelas Penerapan di Industri\Data Science Project - Analisis Data COVID19 di Dunia & ASEAN\File Dokumentasi\FIle CSV\country_details.csv", index=None, header=True)
# df_countries.to_excel(r"D:\Usep Syaikal Arifin\Computer Programming\Application File\Application File PT Bukit Makmur Mandiri Utama (BUMA)\Kelas Penerapan di Industri\Data Science Project - Analisis Data COVID19 di Dunia & ASEAN\File Dokumentasi\File Excel\country_details.xlsx", index=None, header=True)

display(df_countries.head())

  geo_id country_name
0     TD         Chad
1     CU         Cuba
2     FJ         Fiji
3     GU         Guam
4     IR         Iran

## Merge Covid19 Data dan Countries

In [19]:
import numpy as np
import pandas as pd

df_covid_worlwide = pd.read_csv(r"D:\Usep Syaikal Arifin\Computer Programming\Application File\Application File PT Bukit Makmur Mandiri Utama (BUMA)\Kelas Penerapan di Industri\Data Science Project - Analisis Data COVID19 di Dunia & ASEAN\File Dokumentasi\FIle CSV\covid19_worldwide_2020.csv")
df_covid_worlwide = df_covid_worlwide.set_index("date").sort_index()

df_countries = pd.read_csv(r"D:\Usep Syaikal Arifin\Computer Programming\Application File\Application File PT Bukit Makmur Mandiri Utama (BUMA)\Kelas Penerapan di Industri\Data Science Project - Analisis Data COVID19 di Dunia & ASEAN\File Dokumentasi\FIle CSV\country_details.csv")

display(df_covid_worlwide.head())
display(df_countries.head())


df_covid_denormalized = (df_covid_worlwide.reset_index().merge(df_countries, how="inner", on="geo_id")).set_index("date").sort_index()

,daily_confirmed_cases,daily_deaths,confirmed_cases,deaths,geo_id
date,,,,,
2019-12-31,0,0,0,0,IN
2019-12-31,0,0,0,0,IR
2019-12-31,0,0,0,0,PK
2019-12-31,0,0,0,0,AM
2019-12-31,27,0,27,0,CN

  geo_id country_name
0     TD         Chad
1     CU         Cuba
2     FJ         Fiji
3     GU         Guam
4     IR         Iran