# Data Science in Telco : Data Cleansing

In [26]:
import pandas as pd
from IPython.display import display

# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

df_load = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlab_telco.csv")

# df_load.to_csv(r"D:\Usep Syaikal Arifin\Computer Programming\Application File\Application File PT Bukit Makmur Mandiri Utama (BUMA)\Kelas Penerapan di Industri\Customer Churn Prediction using Machine Learning\File Dokumentasi\File CSV\dqlab_telco.csv", index=None, header=True)
# df_load.to_excel(r"D:\Usep Syaikal Arifin\Computer Programming\Application File\Application File PT Bukit Makmur Mandiri Utama (BUMA)\Kelas Penerapan di Industri\Customer Churn Prediction using Machine Learning\File Dokumentasi\File Excel\dqlab_telco.xlsx", index=None, header=True)

display(df_load.head())

   UpdatedAt   customerID  gender  ...  MonthlyCharges TotalCharges Churn
0     202006  45759018157  Female  ...           29.85        29.85    No
1     202006  45557574145    Male  ...           56.95      1889.50    No
2     202006  45366876421    Male  ...           53.85       108.15   Yes
3     202006  45779536532    Male  ...           42.30      1840.75    No
4     202006  45923787906  Female  ...           70.70       151.65   Yes

[5 rows x 22 columns]

In [27]:
import pandas as pd
from IPython.display import display

df_load = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlab_telco.csv")

print("Dimensi dataset adalah = %d Baris %d Kolom" %df_load.shape)
print("\n")
display(df_load.info())
display(df_load["customerID"].nunique())

Dimensi dataset adalah = 7113 Baris 22 Kolom


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7113 entries, 0 to 7112
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UpdatedAt         7113 non-null   int64
 1   customerID        7113 non-null   object
 2   gender            7113 non-null   object
 3   SeniorCitizen     7113 non-null   int64
 4   Partner           7113 non-null   object
 5   Dependents        7113 non-null   object
 6   tenure            7014 non-null   float64
 7   PhoneService      7113 non-null   object
 8   MultipleLines     7113 non-null   object
 9   InternetService   7113 non-null   object
 10  OnlineSecurity    7113 non-null   object
 11  OnlineBackup      7113 non-null   object
 12  DeviceProtection  7113 non-null   object
 13  TechSupport       7113 non-null   object
 14  StreamingTV       7113 non-null   object
 15  StreamingMovies   7113 non-null   object
 16  Contract          7113 non-null   object
 17  PaperlessBilling  7113 non-null   object
 18  PaymentMethod     7113 non-null   object
 19  MonthlyCharges    7087 non-null   float64
 20  TotalCharges      7098 non-null   float64
 21  Churn             7070 non-null   object
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

None

7017

## Memfilter ID Number Pelanggan Format Tertentu

In [28]:
df_load["valid_id"] = df_load["customerID"].astype(str).str.match(r"(45\d{9,10})")
df_load = (df_load[df_load["valid_id"] == True]).drop("valid_id",axis=1)

display(df_load.head(5))

print("Hasil jumlah ID Customer yang terfilter adalah")
display(df_load["customerID"].count())

   UpdatedAt   customerID  gender  ...  MonthlyCharges TotalCharges Churn
0     202006  45759018157  Female  ...           29.85        29.85    No
1     202006  45557574145    Male  ...           56.95      1889.50    No
2     202006  45366876421    Male  ...           53.85       108.15   Yes
3     202006  45779536532    Male  ...           42.30      1840.75    No
4     202006  45923787906  Female  ...           70.70       151.65   Yes

[5 rows x 22 columns]

Hasil jumlah ID Customer yang terfilter adalah

7006

## Memfilter Duplikasi ID Number Pelanggan

In [38]:
df_load = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlab_telco.csv")
df_load["valid_id"] = df_load["customerID"].astype(str).str.match(r"(45\d{9,10})")
df_load = (df_load[df_load["valid_id"] == True]).drop("valid_id",axis=1)

display(df_load.shape)
df_load = df_load.drop_duplicates()
display(df_load.shape)
df_load = df_load.sort_values("UpdatedAt", ascending=False).drop_duplicates(["customerID"])
display(df_load.shape)
display(df_load["customerID"].count())

(7006, 22)

(6999, 22)

(6993, 22)

6993